body {
    background-color: #EEEEEE;
}

.admin-each__content {
    max-width: 900px;
    margin: 0 auto;
}

.admin-each__heading {
    position: relative;
    padding-left: 14px;
    font-weight: bold;
    font-size: 24px;
}

.admin-each__heading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 5px;
    height: 1.5em;
    background-color: #333;
}

.month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 5px;

}

.prev-month {
    text-decoration: none;
    color: rgb(102, 101, 101)
}

.next-month {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

.detail-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.empty-columns {
    display: grid;
    grid-template-columns: 90px 1fr 1fr 1fr 1fr 60px;
    align-items: center;
    padding: 8px 4px;
    background-color: white;
    color: rgb(102, 101, 101);
    border-bottom: 3px solid #EEEEEE;
    height: 40px;
    border-radius: 5px;
    justify-items: center;
}

.empty-columns span {
    padding: 0px 6px;
    white-space: nowrap;
    font-size: 14px;
    background-color: white;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.15em;
}

table tr:first-child .empty-row {
    border-top: 1px solid #EEEEEE;
}

.detail-item,
.detail-holiday {
    grid-column: 6;
}

.detail-holiday {
    transform: translateY(-25px);
    color: black;
    font-weight: bold;
}